$borders: #2cd57a;
$shadow-color: rgba(50, 50, 50, .75);
$bk-color: #8193a8;

body {
	box-sizing: border-box;
	text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0 1rem;
}

h2 {
	background-color: $bk-color;
	box-shadow: 0 2px 5px 0 $shadow-color;
}

.weather-app {
	height: 200px;

	.forecast {
		float: left;
		height: 100px;
		list-style: none;
	}
}

.challenge {
	box-shadow: 0 2px 5px 0 $shadow-color;
	clear: both;
	content: '';
	display: block;
	padding-bottom: .75rem;
}

.c4 {
	align-items: center;
	border: 1px solid $borders;
	display: inline-flex;
	height: 100px;
	justify-content: center;
	width: 100px;
}

.prize {
	display: inline-block;
	height: 50px;
	list-style: none;
	width: 50px;
}
